<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.87.0" targetFramework="native" />
  <package id="GLEW-dynamic" version="2.2.0" targetFramework="native" />
  <package id="GLEW-dynamic.redist" version="2.2.0" targetFramework="native" />
  <package id="glfw" version="3.4.0" targetFramework="native" />
  <package id="glm" version="1.0.3" targetFramework="native" />
  <package id="SoLoud" version="2020.2.7" targetFramework="native" />
  <package id="SoLoud.redist" version="2020.2.7" targetFramework="native" />
</packages>