[Desktop Entry]
Version=1.0
Type=Application
Name=Penteract Placer
Exec="@CMAKE_INSTALL_PREFIX@/lib/pp/Penteract Placer"
Path=@CMAKE_INSTALL_PREFIX@/lib/pp/
Icon=dev.tr1ngle.pp
Categories=Game;
Comment=A 5D Sandbox Game
Terminal=false
